{% extends "base.html" %}
{% load static %}

{% block TITLE %} {{eleccion.description}} {% endblock TITLE %}

{% block BODY %}
<header class="text-center flex justify-between m-3">
					<div class="">
                        <img src="{% static 'img/logo-cpv-white.svg' %}" alt="LOGO" class="w-[80px] h-[80px]" />
                    </div>
					<div class="text-cent"><h1 class="text-white font-black text-4xl">COMISIÓN ELECTORAL</h1>
						<h4 class="text-white font-extrabold text-xl">Elección de Junta Directiva 2024 - 2026</h4></div>
					<div> <span class="text-white font-extrabold text-xl">07/12/23 - 10:00pm</span> </div>
				</header>
                <section class="grid grid-cols-12 gap-4 m-4">
					<div class="col-span-5 text-center bg-white p-2 border rounded grid grid-cols-12">
						<h1 class="col-span-12 text-center font-bold text-xl">PRESIDENTE</h1>
						<div class="col-span-4 flex flex-col items-center">
							<img class="h-[150px] w-[150px] text-center" src="https://source.unsplash.com/150x150/?portrait" alt="Avatar" />
							<h2>José A. Finocchio</h2>
							<input type="checkbox" id="miCasillaVerificacion" name="miCasillaVerificacion" class="h-5 w-9" />
						</div>
						<div class="col-span-4 flex flex-col items-center">
							<img class="h-[150px] w-[150px]" src="https://source.unsplash.com/150x150/?portrait" alt="Avatar" />
							<h2>Yenny Halabi</h2>
							<input type="checkbox" id="miCasillaVerificacion" name="miCasillaVerificacion" class="h-5 w-5" />
						</div>
					</div>
					<div class="col-span-5 col-start-6 text-center bg-white p-2 border rounded grid grid-cols-12">
						<h1 class="col-span-12 text-center font-bold text-xl">VICEPRESIDENTE</h1>
						<div class="col-span-4 flex flex-col items-center">
							<img class="h-[150px] w-[150px] text-center" src="https://source.unsplash.com/150x150/?portrait" alt="Avatar" />
							<h2>Victor Julio Bellera</h2>
							<input type="checkbox" id="miCasillaVerificacion" name="miCasillaVerificacion" class="h-5 w-5" />
						</div>
						<div class="col-span-4 flex flex-col items-center">
							<img class="h-[150px] w-[150px]" src="https://source.unsplash.com/150x150/?portrait" alt="Avatar" />
							<h2>Gilberto Ojedas S.</h2>
							<input type="checkbox" id="miCasillaVerificacion" name="miCasillaVerificacion" class="h-5 w-5" />
						</div>
					</div>
					<div class="col-span-10 col-start-1 row-start-2 text-center bg-white p-2 border rounded grid grid-cols-12">
						<h1 class="col-span-12 text-center font-bold text-xl">DIRECTORES</h1>
							{% for candidato in eleccion.candidatos %}
							<div key={index} className="col-span-2 flex flex-col items-center gap-3">
								<img className="h-[200px] w-[200px] text-center" src="https://source.unsplash.com/150x150/?portrait" alt="Avatar" />
								<h1>{{candidato.name}}</h1> 
								<input type="checkbox" id="miCasillaVerificacion" name="miCasillaVerificacion" class="h-5 w-5/>
							</div>
                            {% endfor %}
					</div>
					<div class="col-span-2 row-span-2 col-start-11 row-start-1 text-center bg-white p-2 border rounded grid grid-cols-12">
						<div class="col-span-12">
							<h2 class="font-bold">Cantidad de Acciones</h2>
							<input type="text" class="border-2 border-gray-300 rounded-md p-2 focus:outline-none focus:border-indigo-500 text-3xl h-[50px] w-[170px]" placeholder="Acciones"></input>
							<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
								Votar
							</button>
						</div>
				</section>

{% endblock BODY %}