{% extends "base.html" %}

{% block TITLE %}Resultado{% endblock TITLE %}

{% block BODY %}
<div class=" flex flex-col items-center">
    <h1 class=" font-black text-[3rem]">Resultado de las elecciones: {{elecciones.description}}</h1>
    
    <table class="shadow-lg bg-white border-collapse rounded-lg text-lg">
        <tr>
            <th class="bg-blue-100 border text-left px-8 py-4">Votos nulos (Absolutos)</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Votos nulos (Totales)</th>
        </tr>
        <tr class=" hover:bg-gray-50">
            <td class="border px-8 py-4"><h2 class=" font-bold text-xl">{{resultados.nulos_absolutos}}</h2></td>
            <td class="border px-8 py-4"><h2 class=" font-bold text-xl">{{resultados.nulos_totales}}</h2></td>
        </tr>
    </table>
    
    <table class=" shadow-lg bg-white border-collapse rounded-lg text-lg">
        <tr>
            <th class=" bg-blue-100 border text-left px-8 py-4">Candidato</th>
            <th class=" bg-blue-100 border text-left px-8 py-4">Cargo</th>
            <th class=" bg-blue-100 border text-left px-8 py-4">votos_totales</th>
            <th class=" bg-blue-100 border text-left px-8 py-4">votos_absolutos</th>
        </tr>
        {% for id, obj in resultados.candidatos.items %}
            <tr class=" hover:bg-gray-50">    
                <td class="border px-8 py-4">
                    <img src="{{obj.foto}}" alt="{{obj.candidato}}" class="w-[100px] h-[100px] border border-2 border-black rounded-2xl">
                    {{obj.candidato}}
                </td>
                <td class="border px-8 py-4">{{obj.cargo}}</td>
                <td class="border px-8 py-4">{{obj.votos.total_acciones}}</td>
                <td class="border px-8 py-4">{{obj.votos.total_absoluto}}</td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock BODY %}